.header {
    height: 5rem;
    background: linear-gradient(90deg, rgba(49,76,147,1) 0%, rgba(30,121,9,1) 35%, rgba(244,123,87,1) 74%);

}
.header-logo {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-family: "Roboto Light";
    font-weight: 400;
    line-height: 5rem;
}